<!DOCTYPE html><meta charset="utf8"/>
<title>$title$</title>
<h2>Index of $pwd$</h2>
<i><a href=https://$pwd$>$dir$</a> as of $date$</i>
<hr>

$body$

<hr>
made w/ vi, perl, pandoc &amp; ♡ : <a href="$GW$/ipfs/$qm$">/ipfs/$qm$</a>

